---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="acerca de">
	<main class="h-full flex flex-col items-center py-10 px-4  overflow-auto no-scrollbar">
		<h1 class="text-3xl items-baseline font-serif tracking-wide">
			Bienvenide a <span class="text-cyan-600 whitespace-nowrap"
				>mai<span class="ml-1 font-sans text-xs text-black"
					>archivo epistolar</span
				></span
			>
		</h1>
		<section class="prose pt-10">
			<p>
				Este es un archivo del final de relación epistolar que sostuvo
				el <span class="text-cyan-600">mai</span>, con <span
					class="text-red-600">redman</span
				> entre 2016 y 2017.
			</p>
			<p>
				<span class="text-cyan-600">mai</span>, es el nombre que
				pusieron a una persona en condición de calle que vivía entre la
				colonia Americana y el barrrio de Santa Teresita en Guadalajara.
				Solía visitar el café Caligari y dejar sobres y cartas para "<span class="text-red-600">el mai</span>" que en
				realidad era <span class="text-red-600">redman</span>, probablemente de ahí surgió
				el nombre que elegirieron.
			</p>
			<p>
				Un día <span class="text-red-600">redman</span> le pidió al personal del café que ya no guardaran la correspondecia que <span class="text-cyan-500" >mai</span> dejaba para él. Afortunadamente <span class="text-amber-600">Alejandra</span>, que en ese entonces trabajaba como mesera en el lugar, tuvo la sensibilidad y la intuición de que a mí me interesaría conservar aquella correspondencia; con lo cual no se equivocó. 
			</p>
			<p>
				Este archivo fue tomando forma poco a poco; semana a semana iba al café a visitar a Alejandra y a preguntar si había nuevas cartas que recoger. Una vez en el estudio, colocaba la correspondencia en una bolsa plástica que sellaba con cinta y finalmente colocaba la fecha en la que se entregó la carta o en su defecto, la fecha en que la recogí.
			</p>
			<p>Eventualmente llegó el momento en que <span class="text-cyan-500">mai</span> dejó de verse en la zona y de llevar correspondencia al café. Casi 8 años después, he decidido publicar este archivo y las únicas imágenes que tengo de él.</p>
		</section>
	</main>
</Layout>
