---
import Layout from "@/layouts/Layout.astro";
import Wrapper from "@/components/Wrapper.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const epistolas = await getCollection("epistolas");
---

<Layout title="home">
	<Wrapper className="justify-center">
		<section>
			{epistolas.map((epistola) => (
				<>
					{epistola.data.cover.map((img, index) => (
						<Image
							src={img}
							alt={epistola.data.coverAlt ?? `Imagen ${index + 1}`}
						/>
					))}
				</>
			))}
		</section>
	</Wrapper>
</Layout>
