---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import EpistolaCard from "@/components/EpistolaCard.astro";

// 1️⃣ Cargar TODO de golpe
const epistolas = (await getCollection("epistolas")).sort((a, b) =>
	a.id.localeCompare(b.id),
);
const itemCollections = await getCollection("itemCollections");

// 2️⃣ Vincular cada epístola con su colección (si la tiene)
const epistolasWithCollections = epistolas.map((epistola) => {
	const { id } = epistola;
	const collectionData = epistola.data.itemCollection
		? itemCollections.find(
				(col) =>
					col.collection ===
						epistola.data.itemCollection.collection &&
					col.id === epistola.data.itemCollection.id,
			)
		: null;

	return { ...epistola, id, collectionData };
});
---

<Layout title="home">
	<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3
		place-items-center
		py-4 px-6 space-y-10 md:space-y-0 md:space-x-10">
		{
			epistolasWithCollections.map(({ data, id }) => (
				<EpistolaCard id={id} data={data} />
			))
		}
	</section>
</Layout>
