<a href="/" class="fixed top-0 z-40">
    <div class="py-1 px-2 max-w-screen flex flex-row items-baseline relative">
        <div class="-z-10 absolute w-full h-full bg-white blur">

        </div>
        <h1 class="text-cyan-600 text-5xl font-serif tracking-wide mr-1">
            mai
        </h1>
        <p class="text-sm tracking-widest">archivo epistolar</p>
    </div>
</a>
