---
import Layout from "@/layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import Wrapper from "@/components/Wrapper.astro";

export async function getStaticPaths() {
    const sobres = await getCollection("sobres");

    return sobres.map((sobre) => ({
        params: { slug: sobre.slug },
        props: { sobre },
    }));
}

const { sobre } = Astro.props;
console.log(sobre);
const { data } = sobre;
const { title, author, img, description } = data;

const { Content } = await render(sobre)
---

<Layout title={`${title} ┼ mai`}>
    <Wrapper className="flex-col lg:flex-row gap-10">
        <aside class="flex-1">
            <img
                src={`/src/assets/images/2017-03-11/${img}`}
                alt={title}
                class="rounded w-full h-auto object-contain"
            />
        </aside>
        <main class="flex-1 py-4">
            <h1 class="font-serif tracking-wide mb-6">{title}</h1>
            <div class="prose">
                <Content/>
            </div>
        </main>
    </Wrapper>
</Layout>
